NEXT_PUBLIC_API_URL=https://staging-api.trayloophq.com
NEXT_PUBLIC_APP_ENV=staging
NEXT_PUBLIC_AUTOMATIONS_ENABLED=true
NEXT_PUBLIC_GROWTH_ADVISOR_ENABLED=true
NEXT_PUBLIC_POSTHOG_KEY=phc_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_POSTHOG_HOST=https://us.i.posthog.com
